body {
	font-family: 'Dancing Script';
	width: 90%;
	margin-left: 5%;
}

body h1 {
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 0 0 2px #02010a;
}

.menu a{
	margin: 0;
	padding: 5px;
	color: white;
	float: right;
}


.container {
	margin: 0;
	padding: 0;
	width: 100%;
	animation-name: slidein;
  animation-duration: 1.5s;
}

@keyframes slidein {
  0% {
    margin-top:150%;
  }
	60% {
		margin-top:-5%;
	}
	100% {
		margin-top:0%;
	}

}

.footer {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.container div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 10px;
}

.footer div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 10px;
	background-color: #C6d5c5;
}

.c1 {
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
}

.imagencentral{
	width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.secundariaderecha{
	width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.secundariaizquierda{
	width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.menub {
text-align: center;
}

.ico {
	max-width: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#imagen2 img{
	transition-property:rotate;
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
}

#imagen2 img:hover{
	-webkit-transform: rotate(-10deg); // IE 9
	-moz-transform: rotate(-10deg); // Firefox
	-o-transform: rotate(-10deg); // Safari and Chrome
	-ms-transform: rotate(-10deg); // Opera
}

#imagen3 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
  transform:translate(0px);
}

#imagen3 img:hover{
	transform:translate(20px,-5px);
}

#paisaje1 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
  filter: blur(10px);
}

#paisaje2 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

#paisaje3 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
  filter: sepia(90%);
}

#paisaje4 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

#paisaje5 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
}

#paisaje6 img{
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.paisaje{
	width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.c2 {
	color: black;
	background-color: #82c3a6;
}

.c3, .c4 {
	color: black;
	background-color: #d5c75f;
}

.pa1, .pa2, .pa3, .pa4, .pa5, .pa6 {
	color: black;
	background-color: #d5c75f;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.footer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .c4 {
	width: 100%;
}

.pa1, .pa2, .pa3, .pa4, .pa5, .pa6 {
	width: 100%;
}

.p1, .p2, .p3, .p4 {
	width: 100%;
	font-size: 15px;

}

body h1 {
	text-align: center;
}



.p1 {
	border-radius: 0px 0px 0px 10px;
}

.p4 {
	border-radius: 0px 0px 10px 0px;
}

@media (min-width: 600px) {
	.c2, .c3, .c4 {
		width: 50%;
	}
	.pa1, .pa2, .pa3, .pa4, .pa5, .pa6 {
		width: 50%;
	}
	.p1, .p2, .p3, .p4 {
		width: 25%;
	}

	body h1 {
		text-align: left;
	}

}

@media (min-width: 900px) {
	.c1, .c2 {
		width: 100%;
	}

	.c3, .c4 {
		width: 50%;
	}

	.pa1, .pa2, .pa3, .pa4, .pa5, .pa6 {
		width: 33.33%;
	}

	.p1, .p2, .p3, .p4 {
		width: 25%;
	}
	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	body h1 {
		text-align: left;
	}

}
